h3 {
  text-align: center;
}

table {
  border: 1px solid black;
  margin: auto;
  font-size: 14px;
}

thead {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  padding: 2px 8px 0;
  text-align: center;
}

.trow,
td {
  border: 1px solid #bbb;
  padding: 2px 8px 0;
  text-align: center;

  &:first-child {
    text-align: left;
  }

  &:hover,
  &:focus {
    color: blue;
  }
}
